footer {
    display: flex;
    flex-direction: column;
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-logo {
        padding: 0% 0% 2% 5%;
        img {
            padding-top: 10%;
            width: 15vw;
        }
    }
    .footer-info {
        text-align: center;
        padding-right: 3%;
        p {
            padding-top: 1%;
        }
        div {
            padding-bottom: 4%;
        }
        a {
            padding-bottom: 6%;
            color: black;
        }
    }
    .footer-redes {
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            padding-top: 15%;
            display: flex;
            align-items: baseline;
            &:nth-child(1) {
                display: flex;
                justify-content: flex-start;
                a {
                    padding-left: 7%;
                    color: black;
                    font-size: 170%;
                    &:hover {
                        color: $color-rojo-claro;
                    }
                }
                p {
                    font-size: 100%;
                }
            }
            &:nth-child(2) {
                padding: 7% 0% 7% 4%;
                a {
                    color: black;
                    font-size: 160%;
                    &:hover {
                        color: $color-rojo-claro;
                    }
                }
                p {
                    font-size: 100%;
                }
            }
            a {
                padding-right: 10%;
            }
        }
        
    }
    .copyright {
        text-align: center;
        padding-bottom: 2%;
    }
}

.footer-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-logo {
        img {
            width: 20vw;
        }
    }
    .footer-top {
        text-align: start;
        padding: 2% 0% 4% 0%;
        display: flex;
        align-items: flex-start;
        .footer-info {
            margin-left: -40%;
            text-align: start;
        }
        .footer-redes {
            margin-right: -40%;
            align-items: flex-start;
        }
    }
    // @MEDIAS
    @media screen and (max-width: 749px) {
        font-size: 100%;
        .footer-redes {
            div {
                padding-top: 0%;
                &:nth-child(1) {
                    a {
                        padding-left: 3%;
                        font-size: 110%;
                    }
                }
                &:nth-child(2) {
                    padding: 7% 0% 7% 4%;
                    a {
                        color: black;
                        font-size: 110%;
                    }
                }
                a {
                    padding-right: 10%;
                }
            }
        }
        .footer-top {
            .footer-info {
                margin-left: -50%;
                a>p {
                    padding-top: 15%;
                }
            }
            .footer-redes {
                margin-right: -50%;
            }
        }
    }
    @media screen and (max-width: 500px) {
        font-size: 85%;
        .footer-logo {
            img {
                width: 25vw;
            }
        }
    }
    @media screen and (max-width: 400px) {
        font-size: 80%;
        .footer-top {
            .footer-info {
                margin-left: -20%;
            }
            .footer-redes {
                margin-right: -20%;
            }
        }
    }
}

@media screen and (min-width: 751px) {
    .footer-mobile {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .footer-desktop {
        display: none;
    }
}