main {
    .background {
        background-image: url("/assets/back1.png");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        padding: 8% 0% 0% 4%;
        .card {
            border-radius: 2rem;
            width: 37vw;
            height: 58vh;
            opacity: 0.7;
            h1 {
                padding: 5% 4% 0% 4%;
                color: $color-negro;
                font-weight: 900;
                font-size: 210%;
            }
            p {
                padding: 5% 4% 0% 4%;
                color: $color-negro;
                font-size: 120%;
            }
            .back-botones {
                padding: 7% 0% 0% 4%;
                .boton-cursos {
                    color: white;
                    border-color: $color-rojo-claro;
                    background-color: $color-rojo-claro;
                    @include botones-index;
                    &:hover {
                        border-color: $color-rojo;
                        background-color: $color-rojo;
                    }
                }
                .boton-conocenos {
                    color: $color-rojo-claro;
                    border-color: $color-rojo-claro;
                    background-color: white;
                    @include botones-index;
                    margin: 0% 7%;
                    &:hover {
                        border-color: $color-rojo;
                        color: $color-rojo;
                    }
                }
            }
        }
    }
    .iconos-redondos {
        padding-top: 2%;
        h2 {
            text-align: center;
            font-weight: bold;
        }
        &_body {
            padding-top: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            &_elemento {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 25vw;
                padding: 0% 2%;
                h3 {
                    font-size: 130%;
                    padding: 8% 0%;
                }
                img {
                    height: 20vh
                }
            }
        }
    }
}
