// VARIABLES

$font: 'Nunito', sans-serif;
$color-rojo-claro: #FF637D;
$color-rojo: #FC3657;
$color-verde-claro: #F4F1BB;
$color-celeste: #EAF2E3;
$color-amarillo-claro: #FFDC73;
$color-amarillo: #FBC72E;
$color-negro: #272727;
$box-shadow: 3px 8px 7px -1px rgba(0, 0, 0, 0.23);